footer{
    width: 100%;
    margin-top: auto;
    padding: 5px 10%;
    background-color: $menu;

    p{
        margin: 0px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
    }
}

.copyright{
    text-align: center;
    color: $aqua;
}